Repository DeveloperAcademy-POSTECH/2024-MacC-M11-1Byte, pull requests merged in 2024-11, with the labels that each got.

#20 [Mars/Refactor/#19] 탭바 및 데이터모델에서 불필요한 코드 제거 + Navigation튕김문제 해결
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Features/Mandalart/MandalArtCRUDTestView.swift
  OneByte/Source/Features/Reflection/View/ReflectionView.swift
  OneByte/Source/Model/GoalModels.swift
Labels: Refactor

#22 [Mars/Feat/#21] 회고 뷰 NavigationManager 설정하여 뷰 이동 및 메인 컴포넌트 생성
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/NavigationManager.swift
  OneByte/Source/Extension/Date+.swift
  OneByte/Source/Features/Reflection/View/FeedbackSheetView.swift
  OneByte/Source/Features/Reflection/View/ReflectionCommentView.swift
  OneByte/Source/Features/Reflection/View/ReflectionStartView.swift
  OneByte/Source/Features/Reflection/View/ReflectionStateView.swift
  OneByte/Source/Features/Reflection/View/ReflectionView.swift
Labels: Feat

#25 [Mars/Feat/#24] 회고뷰 Lo-Fi 기준으로 전체 구조 수정
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/NavigationManager.swift
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Features/Reflection/View/FeedbackSheetView.swift
  OneByte/Source/Features/Reflection/View/ReflectionCommentView.swift
  OneByte/Source/Features/Reflection/View/ReflectionStartView.swift
  OneByte/Source/Features/Reflection/View/ReflectionStateView.swift
  OneByte/Source/Features/Reflection/View/ReflectionView.swift
  OneByte/Source/Features/Reflection/View/RetrospectCompleteView.swift
  OneByte/Source/Features/Reflection/View/RetrospectMainView.swift
  OneByte/Source/Features/Reflection/View/RetrospectSelectView.swift
  OneByte/Source/Features/Reflection/View/RetrospectTotalView.swift
  OneByte/Source/Features/Reflection/View/RetrospectView.swift
  OneByte/Source/Repository/UserRepository.swift
Labels: Feat

#30 [Mars/Feat/#29] 회고뷰 Lo-Fi 기준으로 전체 구조 수정
  OneByte.xcodeproj/project.pbxproj
  OneByte/Info.plist
  OneByte/Resource/Assets.xcassets/Dara1.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Dara1.imageset/HelloDara@2x.png
  OneByte/Resource/Assets.xcassets/Dara2.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Dara2.imageset/HelpDara@2x.png
  OneByte/Resource/Assets.xcassets/Dara3.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Dara3.imageset/TogetherDara@2x.png
  OneByte/Resource/Assets.xcassets/Dara4.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Dara4.imageset/DrawingDara@2x.png
  OneByte/Resource/Font/Pretendard-Black.otf
  OneByte/Resource/Font/Pretendard-Bold.otf
  OneByte/Resource/Font/Pretendard-ExtraBold.otf
  OneByte/Resource/Font/Pretendard-ExtraLight.otf
  OneByte/Resource/Font/Pretendard-Light.otf
  OneByte/Resource/Font/Pretendard-Medium.otf
  OneByte/Resource/Font/Pretendard-Regular.otf
  OneByte/Resource/Font/Pretendard-SemiBold.otf
  OneByte/Resource/Font/Pretendard-Thin.otf
  OneByte/Source/Application/NavigationManager.swift
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Common/Onboarding/GoButton.swift
  OneByte/Source/Common/Onboarding/NextButton.swift
  OneByte/Source/Common/Onboarding/PassButton.swift
  OneByte/Source/Common/TempButton.swift
  OneByte/Source/Extension/Font+.swift
  OneByte/Source/Extension/Int+GridExtensions.swift
  OneByte/Source/Features/Mandalart/View/ContentView.swift
  OneByte/Source/Features/Mandalart/View/MandalartView.swift
  OneByte/Source/Features/Onboarding/View/EnterDetailgoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterMaingoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterSubgoalView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingExplainPageView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingExplainView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingFinishView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/View/QuestionView.swift
  OneByte/Source/Features/Onboarding/ViewModel/OnboardingViewModel.swift
  OneByte/Source/Helper/CustomCornerRoundedRectangle.swift
  OneByte/Source/Helper/OnboardingProgressBar.swift
  OneByte/Source/Model/MemberModel.swift
  OneByte/Source/Model/Onboarding.swift
  OneByte/Source/Model/OnboardingExplain.swift
  OneByte/Source/Repository/UserRepository.swift
Labels: Feat

#32 [Mars/Feat/#31] 온보딩 디테일 작업
  OneByte.xcodeproj/project.pbxproj
  OneByte/Info.plist
  OneByte/Source/Extension/UIApplication+.swift
  OneByte/Source/Features/Onboarding/View/EnterDetailgoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterMaingoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterSubgoalView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/ViewModel/OnboardingViewModel.swift
Labels: Feat

#37 [Mars/Feat/#33] 온보딩 Test Flight 마무리 구현
  OneByte/Source/Features/Onboarding/View/EnterDetailgoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterMaingoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterSubgoalView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingFinishView.swift
  OneByte/Source/Model/Onboarding.swift
  OneByte/Source/Model/OnboardingExplain.swift
Labels: Feat

#40  [Mars/Hotfix/#39] 테플 최종 버전 이미지 Assets 및 잔버그 수정 
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  OneByte/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  OneByte/Resource/Assets.xcassets/Dara4.imageset/DrawingDara@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_1.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_1.imageset/Turtle_1.png
  OneByte/Resource/Assets.xcassets/Turtle_1.imageset/Turtle_1@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_1.imageset/Turtle_1@3x.png
  OneByte/Resource/Assets.xcassets/Turtle_2.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_2.imageset/Turtle_2.png
  OneByte/Resource/Assets.xcassets/Turtle_2.imageset/Turtle_2@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_2.imageset/Turtle_2@3x.png
  OneByte/Resource/Assets.xcassets/Turtle_3.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_3.imageset/Turtle_3.png
  OneByte/Resource/Assets.xcassets/Turtle_3.imageset/Turtle_3@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_3.imageset/Turtle_3@3x.png
  OneByte/Resource/Assets.xcassets/Turtle_4.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_4.imageset/Turtle_4.png
  OneByte/Resource/Assets.xcassets/Turtle_4.imageset/Turtle_4@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_4.imageset/Turtle_4@3x.png
  OneByte/Resource/Assets.xcassets/Turtle_5.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_5.imageset/_레이어_1.svg
  OneByte/Resource/Assets.xcassets/Turtle_5.imageset/_레이어_1@2x.svg
  OneByte/Resource/Assets.xcassets/Turtle_5.imageset/_레이어_1@3x.svg
  OneByte/Source/Common/Mandalart/MandalartButtonModifier.swift
  OneByte/Source/Features/Mandalart/View/MainGoalCell.swift
  OneByte/Source/Features/Mandalart/View/MandalartView.swift
  OneByte/Source/Features/Mandalart/View/SubGoalCell.swift
  OneByte/Source/Features/Onboarding/View/OnboardingFinishView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/View/QuestionView.swift
  OneByte/Source/Model/OnboardingExplain.swift
Labels: Hotfix

#46 [Mars/Refactor/#43] 온보딩 리팩토링 작업 및 메인 탭바 수정
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/NavigationManager.swift
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Features/Onboarding/View/EnterDetailgoalView.swift
  OneByte/Source/Features/Onboarding/View/EnterSubgoalView.swift
  OneByte/Source/Features/Reflection/View/FeedbackSheetView.swift
  OneByte/Source/Features/Reflection/View/RetrospectCompleteView.swift
  OneByte/Source/Features/Reflection/View/RetrospectMainView.swift
  OneByte/Source/Features/Reflection/View/RetrospectSelectView.swift
  OneByte/Source/Features/Reflection/View/RetrospectTotalView.swift
  OneByte/Source/Features/Reflection/View/RetrospectView.swift
  OneByte/Source/Features/Work/View/WorkView.swift
Labels: Refactor

#49 [Mars/Refactor/#47] 마이페이지 뷰 구현
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/Color/myA8A8A8.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Color/myB4A99D.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Color/myD5D5D5.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Color/myF0E8DF.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Color/myFFFAF4.colorset/Contents.json
  OneByte/Source/Application/OneByteApp.swift
  OneByte/Source/Extension/Font+.swift
  OneByte/Source/Features/MyPage/View/EditNicknameSheetView.swift
  OneByte/Source/Features/MyPage/View/MyPageView.swift
  OneByte/Source/Features/MyPage/View/SettingRows/AchievedRow.swift
  OneByte/Source/Features/MyPage/View/SettingRows/FontRow.swift
  OneByte/Source/Features/MyPage/View/SettingRows/NotificationRow.swift
  OneByte/Source/Features/MyPage/View/SettingRows/PrivacyPolicyRow.swift
  OneByte/Source/Features/MyPage/View/SettingRows/TermsRow.swift
  OneByte/Source/Features/MyPage/View/SettingView.swift
  OneByte/Source/Features/MyPage/ViewModel/MyPageViewModel.swift
  OneByte/Source/Features/MyPage/ViewModel/SettingViewModel.swift
  OneByte/Source/Model/Profile.swift
Labels: Feat

#66 [Vinci/Feat/#59] 통계 뷰 구현, 클로버 데이터 불러오기 및 처리
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Empty.imageset/Clover_Empty.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Empty.imageset/Clover_Empty@2x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Empty.imageset/Clover_Empty@3x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Empty.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Gold.imageset/Clover_Gold.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Gold.imageset/Clover_Gold@2x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Gold.imageset/Clover_Gold@3x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Gold.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Green.imageset/Clover_Green.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Green.imageset/Clover_Green@2x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Green.imageset/Clover_Green@3x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Green.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Light.imageset/Clover_Light green.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Light.imageset/Clover_Light green@2x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Light.imageset/Clover_Light green@3x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Light.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatClover/Contents.json
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Statistics/ViewModel/StatisticViewModel.swift
  OneByte/Source/Model/Clover.swift
Labels: Feat

#73 [Vinci/Feat/#67]
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Back.imageset/Clover_Back.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Back.imageset/Clover_Back@2x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Back.imageset/Clover_Back@3x.png
  OneByte/Resource/Assets.xcassets/StatClover/Clover_Back.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_body.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_body.imageset/TurtleBody@1x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_body.imageset/TurtleBody@2x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_body.imageset/TurtleBody@3x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_hands.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_hands.imageset/TurtleHand@1x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_hands.imageset/TurtleHand@2x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_hands.imageset/TurtleHand@3x.png
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Statistics/ViewModel/StatisticViewModel.swift
  OneByte/Source/Model/Clover.swift
Labels: Feat

#74 [Mars/Feat/#72] Clover모델 객체 생성
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/ViewModel/OnboardingViewModel.swift
  OneByte/Source/Features/Work/VM/TodayRoutineViewModel.swift
  OneByte/Source/Features/Work/View/RoutineMainView.swift
  OneByte/Source/Features/Work/View/TodayRoutineView.swift
Labels: Feat

#82 Vinci/Fix/#80: 통계 뷰 데이터 연결 테스트 및 디테일 수정
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Body.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Body.imageset/TurtleBody@1x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Body.imageset/TurtleBody@2x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Body.imageset/TurtleBody@3x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Hands.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Hands.imageset/TurtleHand@1x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Hands.imageset/TurtleHand@2x.png
  OneByte/Resource/Assets.xcassets/StatTurtle/Turtle_Hands.imageset/TurtleHand@3x.png
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Statistics/ViewModel/StatisticViewModel.swift
Labels: Fix

#84 [Mars/Fix/#81] 주간 초기화 수정 및 디테일 요소 수정
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Application/WeeklyResetManager.swift
  OneByte/Source/Extension/Date+.swift
  OneByte/Source/Features/Mandalart/View/MandalartView.swift
  OneByte/Source/Features/Mandalart/View/SubGoalCell.swift
  OneByte/Source/Features/Mandalart/View/SubGoalDetailGridView.swift
  OneByte/Source/Features/Onboarding/View/CompleteCycleView.swift
  OneByte/Source/Features/Setting/EditNicknameSheetView.swift
  OneByte/Source/Features/Setting/SettingView.swift
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Work/VM/RoutineMainViewModel.swift
  OneByte/Source/Features/Work/View/RoutineMainView.swift
  ResetWeekTest/ResetWeekTest.swift
Labels: Fix

#92 [Mars/Fix/#90] 1.0 버전 배포 이후 수정사항
  OneByte.xcodeproj/project.pbxproj
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Extension/Date+.swift
  OneByte/Source/Features/Mandalart/View/MandalartView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingExplainPageView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/ViewModel/OnboardingViewModel.swift
  OneByte/Source/Features/Setting/Cell/AchievedRow.swift
  OneByte/Source/Features/Setting/Cell/FontRow.swift
  OneByte/Source/Features/Setting/Cell/NotificationRow.swift
  OneByte/Source/Features/Setting/Cell/PrivacyPolicyRow.swift
  OneByte/Source/Features/Setting/Cell/TermsRow.swift
  OneByte/Source/Features/Setting/View/EditNicknameSheetView.swift
  OneByte/Source/Features/Setting/View/SettingView.swift
  OneByte/Source/Features/Setting/ViewModel/SettingViewModel.swift
  OneByte/Source/Features/Work/VM/RoutineMainViewModel.swift
  OneByte/Source/Features/Work/View/RoutineMainView.swift
Labels: Fix

#91 [Vinci/HotFix/#89] 통계 뷰 이슈 해결
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Statistics/ViewModel/StatisticViewModel.swift
Labels: Hotfix

#96 [Mars/Feat/#95] 메인탭 및 루틴탭 햅틱
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty@3x.png
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Features/Work/VM/AllRoutineViewModel.swift
  OneByte/Source/Features/Work/View/AllRoutineView.swift
Labels: Feat

#97 [Realese] 하고만다 ver 1.0.1 업데이트
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty.imageset/Turtle_Empty@3x.png
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Extension/Date+.swift
  OneByte/Source/Features/Mandalart/View/MandalartView.swift
  OneByte/Source/Features/Mandalart/View/Sheet/DetailGoalView.swift
  OneByte/Source/Features/Mandalart/View/Sheet/MainGoalSheetView.swift
  OneByte/Source/Features/Mandalart/View/SubGoalCell.swift
  OneByte/Source/Features/Mandalart/View/SubGoalDetailGridView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingExplainPageView.swift
  OneByte/Source/Features/Onboarding/View/OnboardingStartView.swift
  OneByte/Source/Features/Onboarding/ViewModel/OnboardingViewModel.swift
  OneByte/Source/Features/Setting/Cell/AchievedRow.swift
  OneByte/Source/Features/Setting/Cell/FontRow.swift
  OneByte/Source/Features/Setting/Cell/NotificationRow.swift
  OneByte/Source/Features/Setting/Cell/PrivacyPolicyRow.swift
  OneByte/Source/Features/Setting/Cell/TermsRow.swift
  OneByte/Source/Features/Setting/View/EditNicknameSheetView.swift
  OneByte/Source/Features/Setting/View/SettingView.swift
  OneByte/Source/Features/Setting/ViewModel/SettingViewModel.swift
  OneByte/Source/Features/Statistics/View/StatisticView.swift
  OneByte/Source/Features/Statistics/ViewModel/StatisticViewModel.swift
  OneByte/Source/Features/Work/VM/AllRoutineViewModel.swift
  OneByte/Source/Features/Work/VM/RoutineMainViewModel.swift
  OneByte/Source/Features/Work/View/AllRoutineView.swift
  OneByte/Source/Features/Work/View/RoutineMainView.swift
Labels: Realese

#101 [Mars/Design/#99] 메인 탭바 및 루틴뷰 전체 수정
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/MainTabbar/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Default.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Default.imageset/Tap_Myclover_Default.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Default.imageset/Tap_Myclover_Default@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Default.imageset/Tap_Myclover_Default@3x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Selected.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Selected.imageset/Tap_Myclover_Selected.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Selected.imageset/Tap_Myclover_Selected@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myclover_Selected.imageset/Tap_Myclover_Selected@3x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Default.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Default.imageset/Tab_Myplan_Default.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Default.imageset/Tab_Myplan_Default@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Default.imageset/Tab_Myplan_Default@3x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Selected.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Selected.imageset/Tab_Myplan_Selected.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Selected.imageset/Tab_Myplan_Selected@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Myplan_Selected.imageset/Tab_Myplan_Selected@3x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Default.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Default.imageset/Tap_Routine_Default.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Default.imageset/Tap_Routine_Default@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Default.imageset/Tap_Routine_Default@3x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Selected.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Selected.imageset/Tap_Routine_Selected.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Selected.imageset/Tap_Routine_Selected@2x.png
  OneByte/Resource/Assets.xcassets/MainTabbar/Tab_Routine_Selected.imageset/Tap_Routine_Selected@3x.png
  OneByte/Resource/Assets.xcassets/TabbarMain.imageset/TabbarMain.png
  OneByte/Resource/Assets.xcassets/TabbarMain.imageset/TabbarMain@2x.png
  OneByte/Resource/Assets.xcassets/TabbarMain.imageset/TabbarMain@3x.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty2.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Turtle_Empty2.imageset/Turtle_Empty2.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty2.imageset/Turtle_Empty2@2x.png
  OneByte/Resource/Assets.xcassets/Turtle_Empty2.imageset/Turtle_Empty2@3x.png
  OneByte/Source/Application/TabBarManager.swift
  OneByte/Source/Features/Routine/Model/RoutineModel.swift
  OneByte/Source/Features/Routine/VM/AllRoutineViewModel.swift
  OneByte/Source/Features/Routine/VM/RoutineMainViewModel.swift
  OneByte/Source/Features/Routine/VM/TodayRoutineViewModel.swift
  OneByte/Source/Features/Routine/View/AllRoutineView.swift
  OneByte/Source/Features/Routine/View/RoutineMainView.swift
  OneByte/Source/Features/Routine/View/TodayRouitneTypeHeaderView.swift
  OneByte/Source/Features/Routine/View/TodayRoutineView.swift
  OneByte/Source/Features/Work/View/TodayRoutineView.swift
Labels: Design

#105 [Vinci/Feat/#93] AI 문장분석 기능&UI 구현
  OneByte.xcodeproj/project.pbxproj
  OneByte/Resource/Assets.xcassets/Color/Color.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Color/MyC8B7A3.colorset/Contents.json
  OneByte/Resource/Assets.xcassets/Polygon.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/Polygon.imageset/Polygon.png
  OneByte/Resource/Assets.xcassets/Polygon.imageset/Polygon@2x.png
  OneByte/Resource/Assets.xcassets/Polygon.imageset/Polygon@3x.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Contents.json
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check.imageset/Routine_Check.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check.imageset/Routine_Check@2x.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check.imageset/Routine_Check@3x.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check_Green.imageset/Contents.json
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check_Green.imageset/Routine_Check_Green.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check_Green.imageset/Routine_Check_Green@2x.png
  OneByte/Resource/Assets.xcassets/RoutineCheck/Routine_Check_Green.imageset/Routine_Check_Green@3x.png
  OneByte/Resource/Specific3496.mlmodel
  OneByte/Resource/SpecificTagger3942.mlmodel
  OneByte/Source/Extension/Font+.swift
  OneByte/Source/Features/Mandalart/MandalartViewModel.swift
  OneByte/Source/Features/Mandalart/View/Sheet/DetailGoalView.swift
Labels: Feat

#109 [Vinci/Feat/#108] AI 문장 분석 기능 사용성 개선
  OneByte/Resource/Specific3496.mlmodel
  OneByte/Source/Features/Mandalart/MandalartViewModel.swift
  OneByte/Source/Features/Mandalart/View/Sheet/DetailGoalView.swift
Labels: Feat
